.activePopup {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 18px rgba(24, 39, 75, 0.12);
  backdrop-filter: blur(7px);
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 1;
}

.inactive {
  display: none;
}

.pop {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 8px 18px rgba(24, 39, 75, 0.12);
  padding: 30px;
  background: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 20px;
  border-radius: 8px;
  position: relative;
  max-height: calc(100vh - 40px);
}

.close {
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  position: absolute;
  top: -15px;
  right: -15px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close:hover {
  background: #f5f5f5;
}
